################################################################################
# ignore generated documentation
################################################################################
*GENERATED*

################################################################################
# Ignore IDE files
################################################################################
*.DS_Store
.idea