.quickedit__container-inner {
    display: flex;
    flex-wrap: wrap;
}

.quickedit__group {
    flex: 1 0 25%;
    text-align: center;
    margin: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
    max-width: 150px;
    box-shadow: rgba(32, 33, 36, 0.28) 0 1px 6px;
}

.quickedit__label {
    font-size: 1.5rem;
}

.quickedit__edit-button {
    display: inline-block;
    margin: 5px;
    border: 1px solid gray;
    padding: .5rem;
}

.quickedit__header {
    padding: 1rem;
    background-color: #eee;
    font-size: 1rem;
}

.quickedit__toggle-container {
    border-top: 1px solid #bbb;
}

.btn-default.quickedit__toggle-button {
    margin-top: -1px;
    border-top: none;
    width: 4rem;
    height: 2.5rem;
    background-image: url(../../../../../../../typo3conf/ext/quickedit/Resources/Public/Icons/angle-up-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
}

.btn-default.quickedit__toggle-button.collapsed {
    background-image: url(../../../../../../../typo3conf/ext/quickedit/Resources/Public/Icons/angle-down-solid.svg);
}
